.btn.btn-primary {
    background-color: #ff5c6b;
    border-color: #ff5c5c;
    border-radius: 0;
}

.btn.btn-primary:hover,
.btn.btn-primary:active {
    background-color: #ff5c6b;
    border-color: #ff5c5c;
}

.nav-pills .nav-link { border-radius: 0 }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #ff5c6b;
    border-color: #ff5c5c;
}

.nav-link,
.nav-link:hover {
    color: #ff5c6b;
}

div.tab-pane:not(.active) * {
    display: none;
}

.form-control {
    border: none;
    border-bottom: 2px solid #cecece;
    border-radius: 0;
    padding: .375rem 0;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #ff5c6b;
}

a.navbar-brand img {
    border-radius: 5px;
    height: auto;
    margin-right: 5px;
    width: 30px;
}

div.float-label-group { position: relative }

div.float-label-group label.form-label {
    left: 0;
    margin: 0;
    position: absolute;
    top: 16px;
    transition: top .25s;
}

div.float-label-group label.form-label.in {
    top: -12px
}

div.float-label-group .form-control { font-size: 1.8rem }

ul#message-results li.list-group-item-danger {
    background: #ff5c6b;
    color: #fff;
}
