<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous"
        >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <title>Disaster Response</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="container-fluid">
                <a class="navbar-brand d-flex" href="/"><img src="{{ url_for('static', filename='apple-touch-icon.png') }}">Disaster Response Pipeline</a>
                <a class="nav-link align-end" href="https://github.com/bjpayne/DistasterReponsePipeline">Github</a>
            </div>
        </nav>

        <div class="container mb-5" id="app">
            <div class="row">
                <div class="col-12">
                    <h3 class="mb-3">Classify a message</h3>

                    <form action="/classify" method="get" class="form">
                        <div class="mb-3 float-label-group">
                            <label for="query" class="form-label" :class="{ in: query.length > 0 }">Message</label>

                            <input type="text" class="form-control" name="query" id="query" v-model="query">
                        </div>

                        <button type="submit" class="btn btn-primary">Classify Message</button>
                    </form>
                </div>
            </div>

            {% block message %}
            {% endblock %}
        </div>

        <div class="container">
            {% block content %}
                <h3 class="mb-5">Overview of the Training Dataset</h3>

                <div class="col-12">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <button class="nav-link active" id="graph-0-tab" data-bs-toggle="pill"
                                    data-bs-target="#graph-0-wrapper" type="button" role="tab" aria-controls="graph-0-tab"
                                    aria-selected="true"
                            ><i class="bi bi-bar-chart-line-fill"></i>&nbsp;&nbsp;Messages per category
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="graph-1-tab" data-bs-toggle="pill"
                                    data-bs-target="#graph-1-wrapper" type="button" role="tab" aria-controls="graph-1-tab"
                                    aria-selected="true"
                            ><i class="bi bi-pie-chart-fill"></i>&nbsp;&nbsp;Message category distribution
                            </button>
                        </li>
                    </ul>

                    <div class="tab-pane fade show active" id="graph-0-wrapper" role="tabpanel"
                         aria-labelledby="graph-0-tab">
                        <div id="graph-0"></div>
                    </div>
                    <div class="tab-pane fade" id="graph-1-wrapper" role="tabpanel" aria-labelledby="graph-1-tab">
                        <div id="graph-1"></div>
                    </div>
                </div>
            {% endblock %}
        </div>
        <!-- Jquery -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"
        ></script>

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.js"
                integrity="sha256-T3nUjmQxnOjzHxjuh3cHG9MpgOURumsZOuLHDQTef9I=" crossorigin="anonymous"
        ></script>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"
        ></script>

        <!-- Plotly -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <script src="{{ url_for('static', filename='scripts.js') }}"></script>

        <script type="text/javascript">
            let graphs = {{graphJSON | safe}};

            for(let i in graphs) {
                Plotly.plot('graph-'+i, graphs[i].data, graphs[i].layout);
            }
        </script>
    </body>
</html>